<h1>Car Api Widget</h1>


<h4>Car Info</h4>

<ul>
    {{#each cars}}
        <li>{{this.make}}</li>
    {{/each}}
</ul>


<h4>Brands</h4>

<ul>
    {{#each cars}}
        <li>{{this.model}}</li>
    {{/each}}
</ul>

<h4>Color</h4>

<ul>
    {{#each cars}}
        <li>{{this.color}}</li>
    {{/each}}
</ul>